*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    background: #e6e6e6;
    color: #333;
    font-family: sans-serif;
    line-height: 1.5;
}
html,
body {
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 100%;
}

.app {
    position: relative;
}

.dancefloor {
    height: 100%;
    padding-bottom: 2em;
    width: 100%;
}

footer {
    background: #ccc;
    bottom: 0;
    left: 0;
    padding: .5em;
    position: absolute;
    text-align: center;
    width: 100%;
}
footer small {
    font-size: 70%;
}

.square {
    background: hotpink;
    cursor: pointer;
    height: 4em;
    left: 50%;
    margin: -2em 0 0 -2em;
    position: absolute;
    -webkit-transition: -webkit-transform 300ms;
            transition: transform 300ms;
    top: 50%;
    width: 4em;
}
.square:hover .square__arrow--up,
.square:hover .square__arrow--right,
.square:hover .square__arrow--down,
.square:hover .square__arrow--left {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
}

.square__arrow--up,
.square__arrow--right,
.square__arrow--down,
.square__arrow--left {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    line-height: 2;
    opacity: 0;
    outline: none;
    position: absolute;
    text-align: center;
    -webkit-transition-duration: 300ms;
            transition-duration: 300ms;
    -webkit-transition-property: opacity, -webkit-transform;
            transition-property: opacity, transform;
}
.square__arrow--up:before,
.square__arrow--right:before,
.square__arrow--down:before,
.square__arrow--left:before {
    background: hotpink;
    border-radius: 50%;
    content: '';
    height: 2em;
    left: 50%;
    margin: -1em 0 0 -1em;
    position: absolute;
    top: 50%;
    -webkit-transition: background 300ms;
            transition: background 300ms;
    width: 2em;
    z-index: -1;
}

.square__arrow--up:hover::before,
.square__arrow--right:hover::before,
.square__arrow--down:hover::before,
.square__arrow--left:hover::before {
    background: blue;
}

.square__arrow--up,
.square__arrow--down {
    left: -15%;
    height: 3.5em;
    width: 130%;
}
.square__arrow--right,
.square__arrow--left {
    height: 130%;
    top: -15%;
    width: 3.5em;
}

.square__arrow--up {
    top: -3.5em;
    -webkit-transform: translateY(2em);
            transform: translateY(2em);
}
.square__arrow--right {
    right: -3.5em;
    -webkit-transform: translateX(-2em);
            transform: translateX(-2em);
}
.square__arrow--down {
    bottom: -3.5em;
    -webkit-transform: translateY(-2em);
            transform: translateY(-2em);
}
.square__arrow--left {
    left: -3.5em;
    -webkit-transform: translateX(2em);
            transform: translateX(2em);
}
